body {
  margin: 0;
  font-family: var(--font-family-base);
  background: #f1f5f9;
}

#app {
  min-height: 100vh;
}

input[type='date'] {
  background: transparent;
}

input[type='date']::-webkit-date-and-time-value,
input[type='date']::-webkit-datetime-edit,
input[type='date']::-webkit-datetime-edit-fields-wrapper {
  background: transparent;
}
